<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.b07project">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B07Project"
        tools:targetApi="31">
        <activity
            android:name=".studentPages.Review.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".studentPages.EventCheck.SingleEventActivity"
            android:exported="false" />
        <activity
            android:name=".studentPages.EventCheck.MainEventsActivity"
            android:exported="false" />
        <activity
            android:name=".adminPages.adminHomePage"
            android:exported="false" />
        <activity android:name=".studentPages.studentHomePage" />
        <activity android:name=".adminPages.adminComplaintPage" />
        <activity android:name=".adminPages.adminComplaintContentPage2" />
        <activity android:name=".adminPages.postAnnouncementsPage" />
        <activity android:name=".SignUpPage" />
        <activity android:name=".studentPages.QualificationPage1" />
        <activity android:name=".studentPages.QualificationPage2" />
        <activity android:name=".studentPages.QualificationPage3" />
        <activity android:name=".studentPages.QualificationPage4" />
        <activity android:name=".studentPages.ComplaintsPage" />
        <activity android:name=".studentPages.student_page_test" />
        <activity android:name=".adminPages.EventSetUp.EventSetupPageActivity" />
        <activity
            android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>